
.idea/discord.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules.xml
.idea/text_game_test.iml
.idea/vcs.xml
